@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

body {
    margin: 0;
    font-family: 'Protest Riot', sans-serif;
}

#bg-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;   /* makes it behave like background-size: cover */
    opacity: 0.4;        /* adjust this */

    z-index: -2;         /* behind everything */
}
  
canvas {
    display: block;
    vertical-align: bottom;
}
  
#particles-js {
    position: fixed;   /* better than absolute for full screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: transparent; /* REMOVE the white bg */
    z-index: -1;             /* above bg-img, below wrapper */
}


.wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
     z-index: 1;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}

h1 {
    font-weight: bold;
    font-size: 4rem;
    text-transform: uppercase;
}

button {
    padding: 12px 25px 12px 25px;
    border-radius: 5px;
    border: none;
    font-size: large;
    font-family: 'Protest Riot', sans-serif;
    cursor: pointer;
}

#yes {
    background: url('../img/yes.gif') no-repeat center;
    background-size: cover;
    width: 120px;
    height: 120px;
}

#no {
    background: url('../img/no.gif') no-repeat center;
    background-size: cover;
    width: 120px;
    height: 120px;
}
